@import url(https://fonts.googleapis.com/css?family=Barlow:600);
@import url(https://fonts.googleapis.com/css?family=Fraunces:700,900);

// primary
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$d-D-cyan: hsl(167, 40%, 24%);
$d-blue: hsl(198, 62%, 26%);
$d-moderate-cyan: hsl(168, 34%, 41%);
// neutral
$v-d-D-blue: hsl(212, 27%, 19%);
$v-d-g-blue: hsl(213, 9%, 39%);
$d-g-blue: hsl(232, 10%, 55%);
$g-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

* {
   margin: 0;
}
ul {
   padding-left: 0;
}
li {
   list-style-type: none;
}
a {
   text-decoration: none;
}
img {
   width: 100%;
   display: block;
}
// utilities
.flex {
   display: flex;
   justify-content: space-between;
}
.ctr {
   width: 90%;
   margin: 0 auto;
}
header {
   height: 0;
   background: url(../images/mobile/image-header.jpg) center top no-repeat;
   background-size: contain;
   padding-bottom: 143.47%;
}
#nav-ctr {
   padding: 2rem 0;
   position: relative;
   
   svg {
      height: 1.5rem;
   }
   a {
      font-family: 'Barlow', san-serif;
      color: $d-g-blue;
   }
   a:hover {
      cursor: pointer;
      opacity: .8;
   }
   nav {
      opacity: 0;
      width: 99%;
      position: absolute;
      top: 6rem;
      background-color: $white;
      z-index: 1;
      transform: scaleY(0);
      transform-origin: center top;
      transition: .5s;
   }
   .drop-menu {
      opacity: 1;
      transform: scaleY(1);
   }
   ul {
      padding:  2.5rem 0;
      flex-direction: column;
      align-items: center;
      position: relative;
   }
   ul::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      top: -1.1rem;
      right: 0;
      border: 1.2rem solid transparent;
      border-right: 1.2rem solid $white;
   }
   li+li {
      margin-top: 1.5rem;
   }
   li:last-child {
      margin: 2.5rem 0 1rem;
   }
   #contact {
      font-family: 'Fraunces', sans-serif;
      padding: .8rem 2rem;
      background-color: $yellow;
      color: $v-d-D-blue;
      border-radius: 2rem;
      transition: background-color .5s;
      box-shadow: 0 0 3px rgb(143, 165, 168);
   }
   #contact:hover {
      color: $white;
      opacity: .8;
   }
}
header button {
   background-color: transparent;
   border: none;
   transition: 500ms;
}
header button:hover {
   cursor: pointer;
   transform: translateX(-5px);
}
h1 {
   font-family: 'Fraunces', sans-serif;
   color: $white;
   text-align: center;
   margin-top: 2rem;
   font-size: 1.5rem;
}
#arrow {
   width: 2rem;
   margin: 3rem auto 0;
   animation: arrowAni 2s infinite;
}
@keyframes arrowAni {
   from {
      transform: translateY(-2rem);
   }
   to {
      transform: translateY(2rem);
   }
}
.row-1 .col-1, .row-2 .col-1 {
   height: 0;
   padding-bottom: 83.2%;
   background-size: contain;
   background-repeat: no-repeat;
}
.row-1 .col-1 {
   background-image: url(../images/mobile/image-transform.jpg);
}
.row-2 .col-1 {
   background-image: url(../images/mobile/image-stand-out.jpg);
}
.col-2 {
   text-align: center;
   padding: 2.5rem 10%;

   h2, a {
      font-size: 1.7rem;
      font-family: 'Fraunces', sans-serif;
      padding: 0 1rem;
   }
   p {
      font-family: 'Barlow', sans-serif;
      font-size: 1rem;
      line-height: 1.5;
      margin: 1.8rem 0;
      color: $d-g-blue;
   }
   a {
      padding: 0 8px;
      font-size: 1rem;
      color: #000;
      position: relative;
   }
}
.row-1 .col-2 a::after, .row-2 .col-2 a::after{
   position: absolute;
   content: '';
   bottom: 0;
   left: 0;
   width: 100%;
   height: 8px;
   border-radius: 5px;
   background-color: $yellow;
   z-index: -1;
   opacity: .5;
}
.row-2 .col-2 a::after {
   background-color: $soft-red;
}
.row-1 .col-2 a:hover::after, .row-2 .col-2 a:hover::after {
   opacity: 1;
}
.col{
   position: relative;
}
.row-3 .col-1{
   height: 0;
   padding-top: 160%;
   background-size: contain;
   background-repeat: no-repeat;
}
.col-1-1 .col-1 {
   background-image: url(../images/mobile/image-graphic-design.jpg);
}
.col-1-2 .col-1 {
   background-image: url(../images/mobile/image-photography.jpg);
}
.col .col-2{
   position: absolute;
   bottom: 2rem;
   padding: 0 6%;
   p, h2 {
      color: $d-D-cyan;
   }
}
.col-1-2 .col-2 {
   p, h2 {
      color: $d-blue;
   }
}
.row-4 {
   padding:  3rem 2rem;
   text-align: center;

   h3, h2 {
      font-family: 'Fraunces', sans-serif;
   }
   h2 {
      letter-spacing: 2px;
      color: $g-blue;
      font-size: 1.2rem;
   }
}
#testimonital {
   .card {
      margin-top: 3rem;
   }
   .profile-pic {
      width: 3.5rem;
      margin-left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 1.8rem;
   }
   p, h4 {
      font-family: 'Barlow', sans-serif;
   }
   p {
      line-height: 1.5;
      color: $v-d-g-blue;
      margin-bottom: 1.5rem;
   }
   h3 {
      color: $v-d-D-blue;
      margin-bottom: .5rem;
   }
   h4 {
      color: $g-blue;
      font-size: 14px;
   }
}
.row-5 {
   display: flex;
   flex-wrap: wrap;
}
.img-ctr {
   width: 50%;
   height: 0;
   padding-top: 50%;
   background-size: contain;
   background-repeat: no-repeat;
}
.img-ctr:nth-child(1) {
   background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
}
.img-ctr:nth-child(2) {
   background-image: url(../images/mobile/image-gallery-orange.jpg);
}
.img-ctr:nth-child(3) {
   background-image: url(../images/mobile/image-gallery-cone.jpg);
}
.img-ctr:nth-child(4) {
   background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
}
footer {
   text-align: center;
   background-color: hsl(168, 36%, 62%);
   padding: 3rem 2rem;

   svg {
      height: 1.7rem;
   }

   path {
      fill: $d-D-cyan;
   }

   #links {
      max-width: 15rem;
      display: flex;
      justify-content: space-between;
      margin: 2rem auto 5rem;
   }
   a {
      font-family: 'Barlow', sans-serif;
      color: $d-D-cyan;
   }
   #links a:hover {
      color: $white;
   }
   #social-links {
      display: flex;
      justify-content: center;
      li {
         width: 1.5rem;
      }
      li + li {
         margin-left: 1rem;
      }
      a:hover path {
         fill:$white;
      }
   }
}

@media (min-width: 770px) {
   header {
      height: 100vh;
      background-image: url(../images/desktop/image-header.jpg);
      background-color: #3ebfff;
      background-size: auto 100%;
      padding-bottom: 0;
   }
   #nav-ctr {
      align-items: center;
      
      svg {
         height: 2rem;
      }
      a {
         color: $white;
      }
      nav {
         opacity: 1;
         width: initial;
         position: static;
         background-color: transparent;
         transform: scaleY(1);
      }
      ul {
         padding: 0;
         flex-direction: row;
         align-items: center;
      }
      ul::before {
         content: unset;
      }
      ul li:nth-child(n) {
         margin: 0;
         margin-left: 4rem;
      }
      ul li:first-child {
         margin: 0;
      }
      #contact {
         background-color: $white;
      }
      #contact:hover {
         color: initial;
         opacity: .8;
      }
   }
   header button {
      display: none;
   }
   h1 {
      margin-top: 4rem;
      font-size: 3.5rem;
      letter-spacing: 4px;
   }
   #arrow {
      width: 3.5rem;
   }
   .row-1, .row-2 {
      display: flex;
   }
   .row-1 > *, .row-2 > * {
      width: 50%;
   }
   .row-1 {
      flex-direction: row-reverse;
   }
   .col-2 {
      box-sizing: border-box;
      text-align: left;
      align-self: center;
      padding: 0 5%;
      
      h2, a {
         padding: 0;
      }
      h2 {
         font-size: 2rem;
      }
      p {
         font-size: 1rem;
         line-height: 1.4;
         margin: 1.5rem 0;
      }
      a {
         font-size: 1rem;
      }
   }
   .row-1 .col-1, .row-2 .col-1 {
      padding-bottom: 41.68%;
   }
   .row-1 .col-1 {
      background-image: url(../images/desktop/image-transform.jpg);
   }
   .row-2 .col-1 {
      background-image: url(../images/desktop/image-stand-out.jpg);
   }
   .row-3 {
      display: flex;
   }
   .row-3 > * {
      width: 50%;
   }
   .row-3 .col-1{
      padding-top: 83.3%;
   }
   .col-1-1 .col-1 {
      background-image: url(../images/desktop/image-graphic-design.jpg);
   }
   .col-1-2 .col-1 {
      background-image: url(../images/desktop/image-photography.jpg);
   }
   .col .col-2{
      text-align: center;
      bottom: 1rem;
      padding: 0 9%;
      h2 {
         font-size: 1.7rem;
      }
      p {
         margin: 1rem 0;
      }
   }
   #testimonital {
      display: flex;
      justify-content: space-between;
   }
   #testimonital > * {
      width: 30%;
   }
   .img-ctr {
      width: 25%;
      padding-top: 31%;
   }
   .img-ctr:nth-child(1) {
      background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
   }
   .img-ctr:nth-child(2) {
      background-image: url(../images/desktop/image-gallery-orange.jpg);
   }
   .img-ctr:nth-child(3) {
      background-image: url(../images/desktop/image-gallery-cone.jpg);
   }
   .img-ctr:nth-child(4) {
      background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
   }
}

@media (min-width: 1240px) {
   .col-2 {
      padding: 0 9%;
      
      h2, a {
         padding: 0;
      }
      h2 {
         font-size: 2.8rem;
      }
      p {
         font-size: 1.2rem;
         line-height: 1.6;
         margin: 2rem 0;
      }
      a {
         font-size: 1.2rem;
      }
   }
   .col .col-2{
      bottom: 2rem;
      padding: 0 15%;
      h2 {
         font-size: 2rem;
      }
      p {
         margin: 1.5rem 0;
      }
   }
   .row-4 {
      padding: 5rem 0;
   }
   #testimonital {
      padding: 0 10%;
   }
}