@import url(https://fonts.googleapis.com/css?family=Barlow:600);
@import url(https://fonts.googleapis.com/css?family=Fraunces:700,900);

// primary
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$d-D-cyan: hsl(167, 40%, 24%);
$d-blue: hsl(198, 62%, 26%);
$d-moderate-cyan: hsl(168, 34%, 41%);
// neutral
$v-d-D-blue: hsl(212, 27%, 19%);
$v-d-g-blue: hsl(213, 9%, 39%);
$d-g-blue: hsl(232, 10%, 55%);
$g-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

* {
   margin: 0;
}
li {
   list-style-type: none;
}
a {
   text-decoration: none;
}
img {
   width: 100%;
}
// utilities
.flex {
   display: flex;
   justify-content: space-between;
}
.ctr {
   width: 90%;
   margin: 0 auto;
}
header {
   height: 0;
   // background: #3ebfff url(../images/desktop/image-header.jpg) center top no-repeat;
   // background-size: auto 100%;
   background: url(../images/mobile/image-header.jpg) center top no-repeat;
   background-size: contain;
   padding-bottom: 143.47%;
}
#nav-ctr {
   // padding: 3rem 0;
   padding: 2rem 0;

   svg {
      height: 1.5rem;
   }
   a {
      font-family: 'Barlow', san-serif;
      color: $white;
   }
   a:hover {
      cursor: pointer;
      opacity: .8;
   }
   li+li {
      margin-left: 2rem;
   }
   #contact {
      font-family: 'Fraunces', sans-serif;
      padding: .8rem 2rem;
      background-color: $white;
      color: $v-d-D-blue;
      border-radius: 2rem;
      transition: background-color .5s;
      box-shadow: 0 0 3px rgb(143, 165, 168);
   }
   #contact:hover {
      color: $white;
      // background-color: #8ad8ff;
      opacity: .8;
   }
}
nav {
   @media (max-width: 620px) {
      display: none;
   }
}
header button {
   background-color: transparent;
   border: none;
   transition: 500ms;
   
   // @media (min-width: 620px) {
      //    display: none;
      // }
   }

header button:hover {
   cursor: pointer;
   transform: translateX(-5px);
}
h1 {
   font-family: 'Fraunces', sans-serif;
   color: $white;
   text-align: center;
   // font-size: 4rem;
   // margin-top: 2rem;
   font-size: 1.5rem;
}
#arrow {
   // width: 2.5rem;
   width: 2rem;
   margin: 5rem auto 0;
   animation: arrowAni 2s infinite;
}
@keyframes arrowAni {
   from {
      transform: translateY(-2rem);
   }
   to {
      transform: translateY(2rem);
   }
}
.col-2 {
   text-align: center;
   padding: 2.5rem 10%;

   h2, a {
      font-size: 1.7rem;
      font-family: 'Fraunces', sans-serif;
      padding: 0 1rem;
   }
   p {
      font-family: 'Barlow', sans-serif;
      font-size: 1rem;
      line-height: 1.5;
      margin: 1.8rem 0;
      color: $d-g-blue;
   }

   a {
      font-size: 1rem;
      color: #000;
   }
}
.row-3, .row-4{
   position: relative;
}
.row-3 .col-2, .row-4 .col-2 {
   position: absolute;
   bottom: 2rem;
   padding: 0 6%;
   
   p, h2 {
      color: $d-D-cyan;
   }
}
.row-4 .col-2 {
   p, h2 {
      color: $d-blue;
   }
}